<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.kerberos.kdc</key>
	<data>
	PV2dYqmuTgXM8Mm/lpQAGp/CX6M=
	</data>
	<key>com.apple.systemdefault</key>
	<data>
	S279AfTrsv3+TpBL5DXshh0zyt0=
	</data>
</dict>
</plist>
