<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAttempt</key>
	<date>2024-01-07T18:21:35Z</date>
	<key>LastSuccess</key>
	<date>2024-01-03T23:47:34Z</date>
	<key>PollFrequencySeconds</key>
	<integer>86400</integer>
	<key>kNWSettingsKeyLastRun</key>
	<date>2024-01-07T18:21:35Z</date>
</dict>
</plist>
