<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Interfaces</key>
	<array>
		<dict>
			<key>Active</key>
			<true/>
			<key>BSD Name</key>
			<string>en0</string>
			<key>IOBuiltin</key>
			<true/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>0</integer>
			<key>IOMACAddress</key>
			<data>
			GD7vzaol
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/apcie@90000000/AppleT8103PCIe/pci-bridge0@0/IOPP/wlan@0/AppleBCMWLANBusInterfacePCIe/AppleBCMWLANCore/AppleBCMWLANSkywalkInterface/IOSkywalkLegacyEthernet/en0</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>IEEE80211</string>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>BSD Name</key>
			<string>en1</string>
			<key>IOBuiltin</key>
			<true/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>1</integer>
			<key>IOMACAddress</key>
			<data>
			NpTKe81A
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/acio0@81F00000/AppleThunderboltHALType5/AppleThunderboltNHIType5/IOThunderboltControllerType5/IOThunderboltLocalNode/AppleThunderboltIPService/AppleThunderboltIPPort/en1</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>Thunderbolt 1</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>BSD Name</key>
			<string>en2</string>
			<key>IOBuiltin</key>
			<true/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>2</integer>
			<key>IOMACAddress</key>
			<data>
			NpTKe81E
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/acio1@1F00000/AppleThunderboltHALType5/AppleThunderboltNHIType5/IOThunderboltControllerType5/IOThunderboltLocalNode/AppleThunderboltIPService/AppleThunderboltIPPort/en2</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>Thunderbolt 2</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>BSD Name</key>
			<string>en3</string>
			<key>HiddenConfiguration</key>
			<true/>
			<key>IOBuiltin</key>
			<false/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>3</integer>
			<key>IOMACAddress</key>
			<data>
			rkBev4UZ
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/usb-drd0@82280000/AppleT8103USBXDCI@0/AppleUSBNCMData@1/AppleUSBDeviceNCMData/en3</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>Ethernet Adapter (en3)</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>BSD Name</key>
			<string>en4</string>
			<key>HiddenConfiguration</key>
			<true/>
			<key>IOBuiltin</key>
			<false/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>4</integer>
			<key>IOMACAddress</key>
			<data>
			rkBev4Ua
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/usb-drd1@2280000/AppleT8103USBXDCI@1/AppleUSBNCMData@1/AppleUSBDeviceNCMData/en4</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>Ethernet Adapter (en4)</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>BSD Name</key>
			<string>en5</string>
			<key>IOBuiltin</key>
			<false/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>5</integer>
			<key>IOMACAddress</key>
			<data>
			gD9dFNaN
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/usb-drd1@2280000/AppleT8103USBXHCI@01000000/usb-drd1-port-ss@01200000/USB3.0 Hub@01200000/AppleUSB30Hub@01200000/AppleUSB30HubPort@01210000/USB3.0 5K Graphic Docking@01210000/USB Ethernet@6/AppleUSBNCMData/en5</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>USB3.0 5K Graphic Docking</string>
				<key>idProduct</key>
				<integer>24576</integer>
				<key>idVendor</key>
				<integer>6121</integer>
				<key>kUSBProductString</key>
				<string>USB3.0 5K Graphic Docking</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>BSD Name</key>
			<string>en6</string>
			<key>IOBuiltin</key>
			<false/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>6</integer>
			<key>IOMACAddress</key>
			<data>
			MCMDsdSW
			</data>
			<key>IOPathMatch</key>
			<string>Migrated_From: IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/apciec0@B0000000/AppleT8103PCIeC/pcic0-bridge@0/IOPP/pci-bridge@0/IOPP/pci-bridge@1/IOPP/ethernet@0/AppleIntelI210/en7</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>Thunderbolt Ethernet Slot 0</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>Active</key>
			<true/>
			<key>BSD Name</key>
			<string>en7</string>
			<key>IOBuiltin</key>
			<false/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>7</integer>
			<key>IOMACAddress</key>
			<data>
			AFC2qA36
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/apciec0@B0000000/AppleT8103PCIeC/pcic0-bridge@0/IOPP/pci-bridge@0/IOPP/pci-bridge@3/IOPP/ethernet@0/DriverKit_AppleEthernetE1000/IOSkywalkLegacyEthernet/en7</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>Thunderbolt Ethernet Slot 0</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>BSD Name</key>
			<string>en8</string>
			<key>IOBuiltin</key>
			<false/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>8</integer>
			<key>IOMACAddress</key>
			<data>
			6nhlaBcb
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/apciec0@B0000000/AppleT8103PCIeC/pcic0-bridge@0/IOPP/pci-bridge@0/IOPP/pci-bridge@1/IOPP/pci1b21,1242@0/AppleASMediaUSBXHCI@03000000/AppleUSB20XHCIPort@03400000/iPhone@03400000/AppleUSBEthernet@2/AppleUSBEthernetHostAQM/en8</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>iPhone</string>
				<key>idProduct</key>
				<integer>4768</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>kUSBProductString</key>
				<string>iPhone</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
		<dict>
			<key>BSD Name</key>
			<string>en10</string>
			<key>HiddenInterface</key>
			<true/>
			<key>IOBuiltin</key>
			<false/>
			<key>IOInterfaceNamePrefix</key>
			<string>en</string>
			<key>IOInterfaceType</key>
			<integer>6</integer>
			<key>IOInterfaceUnit</key>
			<integer>10</integer>
			<key>IOMACAddress</key>
			<data>
			pmuCBUrd
			</data>
			<key>IOPathMatch</key>
			<string>IOService:/AppleARMPE/arm-io@10F00000/AppleT810xIO/apciec0@B0000000/AppleT8103PCIeC/pcic0-bridge@0/IOPP/pci-bridge@0/IOPP/pci-bridge@1/IOPP/pci1b21,1242@0/AppleASMediaUSBXHCI@03000000/AppleUSB20XHCIPort@03400000/iPhone@03400000/NCM Data@6/AppleUSBNCMData/en10</string>
			<key>SCNetworkInterfaceInfo</key>
			<dict>
				<key>UserDefinedName</key>
				<string>iPhone</string>
				<key>idProduct</key>
				<integer>4776</integer>
				<key>idVendor</key>
				<integer>1452</integer>
				<key>kUSBProductString</key>
				<string>iPhone</string>
			</dict>
			<key>SCNetworkInterfaceType</key>
			<string>Ethernet</string>
		</dict>
	</array>
	<key>Model</key>
	<string>MacBookAir10,1</string>
	<key>__VERSION__</key>
	<integer>20191120</integer>
</dict>
</plist>
