<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentSet</key>
	<string>/Sets/A327A657-10A0-410F-918C-AB133604F578</string>
	<key>Model</key>
	<string>MacBookAir10,1</string>
	<key>NetworkServices</key>
	<dict>
		<key>8F05CB02-3A89-4E55-9D9D-A138005603E2</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en4</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>HiddenConfiguration</key>
				<true/>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet Adapter (en4)</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet Adapter (en4)</string>
		</dict>
		<key>AE37C71D-C4F1-43D8-83DD-9B91313AB303</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>bridge0</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Thunderbolt Bridge</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Thunderbolt Bridge</string>
		</dict>
		<key>C2B31CC4-2E2D-4632-A497-921BA2FF1E0D</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en0</string>
				<key>Hardware</key>
				<string>AirPort</string>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Wi-Fi</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Wi-Fi</string>
		</dict>
		<key>E2F4D890-37F5-423B-837C-64F021277564</key>
		<dict>
			<key>DNS</key>
			<dict/>
			<key>IPv4</key>
			<dict>
				<key>ConfigMethod</key>
				<string>DHCP</string>
			</dict>
			<key>IPv6</key>
			<dict>
				<key>ConfigMethod</key>
				<string>Automatic</string>
			</dict>
			<key>Interface</key>
			<dict>
				<key>DeviceName</key>
				<string>en3</string>
				<key>Hardware</key>
				<string>Ethernet</string>
				<key>HiddenConfiguration</key>
				<true/>
				<key>Type</key>
				<string>Ethernet</string>
				<key>UserDefinedName</key>
				<string>Ethernet Adapter (en3)</string>
			</dict>
			<key>Proxies</key>
			<dict>
				<key>ExceptionsList</key>
				<array>
					<string>*.local</string>
					<string>169.254/16</string>
				</array>
				<key>FTPPassive</key>
				<integer>1</integer>
			</dict>
			<key>SMB</key>
			<dict/>
			<key>UserDefinedName</key>
			<string>Ethernet Adapter (en3)</string>
		</dict>
	</dict>
	<key>Sets</key>
	<dict>
		<key>A327A657-10A0-410F-918C-AB133604F578</key>
		<dict>
			<key>Network</key>
			<dict>
				<key>Global</key>
				<dict>
					<key>IPv4</key>
					<dict>
						<key>ServiceOrder</key>
						<array>
							<string>E2F4D890-37F5-423B-837C-64F021277564</string>
							<string>8F05CB02-3A89-4E55-9D9D-A138005603E2</string>
							<string>AE37C71D-C4F1-43D8-83DD-9B91313AB303</string>
							<string>C2B31CC4-2E2D-4632-A497-921BA2FF1E0D</string>
						</array>
					</dict>
				</dict>
				<key>Interface</key>
				<dict>
					<key>en0</key>
					<dict>
						<key>AirPort</key>
						<dict>
							<key>JoinMode</key>
							<string>Automatic</string>
						</dict>
					</dict>
				</dict>
				<key>Service</key>
				<dict>
					<key>8F05CB02-3A89-4E55-9D9D-A138005603E2</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/8F05CB02-3A89-4E55-9D9D-A138005603E2</string>
					</dict>
					<key>AE37C71D-C4F1-43D8-83DD-9B91313AB303</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/AE37C71D-C4F1-43D8-83DD-9B91313AB303</string>
					</dict>
					<key>C2B31CC4-2E2D-4632-A497-921BA2FF1E0D</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/C2B31CC4-2E2D-4632-A497-921BA2FF1E0D</string>
					</dict>
					<key>E2F4D890-37F5-423B-837C-64F021277564</key>
					<dict>
						<key>__LINK__</key>
						<string>/NetworkServices/E2F4D890-37F5-423B-837C-64F021277564</string>
					</dict>
				</dict>
			</dict>
			<key>UserDefinedName</key>
			<string>Automatic</string>
		</dict>
	</dict>
	<key>VirtualNetworkInterfaces</key>
	<dict>
		<key>Bridge</key>
		<dict>
			<key>bridge0</key>
			<dict>
				<key>Interfaces</key>
				<array>
					<string>en1</string>
					<string>en2</string>
				</array>
				<key>Options</key>
				<dict>
					<key>__AUTO__</key>
					<string>thunderbolt-bridge</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>__VERSION__</key>
	<integer>20191120</integer>
</dict>
</plist>
